.product {
    border: 1px #eef1ed solid;
    margin-bottom: 20px;
    background-color: #eee;
    width: 50%;
    margin-left: 20px;
    padding: 20px
}

.product h3 {
    font-size: 1.5rem;
    color: #b33d66
}